@import "assets/styles/colors.scss";

.seller-container {
  background-color: $Black;
  width: 600px;
  .seller-registration-title {
    color: $Primary;
    text-align: center;
  }
  .seller-registration-section {
    display: flex;
    justify-content: space-evenly;
  }
  label {
    color: $Primary;
  }
  input,
  textarea,
  select {
    display: block;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  input {
    height: 20px;
  }
  textarea {
    height: 50px;
  }
  select {
    height: 30px;
  }
  .number-field {
    label {
      display: block;
    }
    .mobileNo-field {
      display: inline-block;
      width: 65%;
    }
    .get-otp-button {
      background-color: $Primary;
      margin-left: 5px;
    }
    .otp-container {
      width: 200px;
      display: flex;
      justify-content: flex-end;
      .otp-field {
        width: 100px;
      }
    }
  }
  .submit-container {
    .submit-btn {
      background-color: $Primary;
      width: 150px;
      height: 30px;
      display: block;
      border-radius: 10px;
      margin: auto;
      font-size: 15px;
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }
}
